[2017-08-23 16:17] MattHamsay opened #1 "Where is GetInfo() processed?"
Hello,

I'm looking for the method that processes `cmdinfo`, and specifically for producing the link provided to `Link: star.png`.

![getinfo](https://user-images.githubusercontent.com/13993613/29626052-27b490fc-87f3-11e7-97c2-78d482e1680e.png)

When I click on the `GetInfo/Link` from the context menu, it opens up a new link that looks like:

[code]

I am trying to change the behaviour so that cli

[2017-12-21 21:51] thomasroine opened #2 "Thumbnails not requested"
What do I need to configure on the client side in order for the thumbnails to be requested? I never see the ?cmd=tmb in the url to the server.

[2017-12-22 21:10] thomasroine opened #3 "GetTargetsArray method should split on , instead of ;"
The GetTargetsArray doesnt work when you select multiple files to remove. The split method used in this function uses semicolon to split but should use comma. Should be like below. I'm not used to GIT so I could not fix it in a new branch and create pull request for it. Please fix in master.

`private IEnumerable<string> GetTargetsArray(HttpRequest request)
        {
            IEnumerable<string

[2017-12-23 19:50] thomasroine opened #4 "DefaultPicturesEditor.SaveImage shall not use using statement"
When generating thumbs the DefaultPicturesEditor.SaveImage method is used. But this method uses a memorystream inside a using block which casuses an exception (closed stream). The using statement must be removed (same as in the original code from .Net Framework).

[2017-12-23 21:18] thomasroine opened #5 "ConvertThumbnailExtension must return mime type"
The method
`ConvertThumbnailExtension(string originalImageExtension)`
in DefualtPicturesEditor must return correct mimetype. As is it now it returns .jpg for .jpg files but it must return "image/.jpeg". See below. If not this statement throws an exception:
`return new FileStreamResult(thumb.ImageStream, thumb.MimeType);`
It is the FileStreamResult constructor that complains about it cant recognize

[2018-01-17 06:33] gordon-matt commented on #5
Hi and thanks for your comment. I'm not the author of the original code - I merely migrated it to .NET Core and did some refactoring on it. However, I just took a look and I think you're probably having an issue in **Root.cs**, in `GenerateThumbnail()`, right? Well, the answer would be to do the same there as what's done in **Connector.cs** in `GetThumbnail()`, which is to convert the extension to

[2018-02-23 17:26] gordon-matt commented on #3
Thanks for your notes. I have fixed this and the other issues you opened.

[2018-02-23 17:26] #3 closed, assigned to nobody

[2018-02-23 17:26] gordon-matt commented on #4
Solved.

[2018-02-23 17:26] #4 closed, assigned to nobody

[2018-02-23 17:27] gordon-matt commented on #2
Solved. Thumbnails are now working.

[2018-02-23 17:28] gordon-matt commented on #5
Solved.

[2018-02-23 17:28] #5 closed, assigned to nobody

[2018-02-23 17:55] gordon-matt commented on #2
I may have spoken too soon - the thumbs do get generated and show fine the first time, but when trying to show existing thumbs (after refresh, for example), then there's an exception. I will look into this again as soon as I have the time. Can't promise when that will be.

[2018-02-24 06:09] gordon-matt commented on #2
Solved.

[2018-02-24 06:09] #2 closed, assigned to nobody

[2018-02-24 06:20] gordon-matt commented on #1
This project is only the ASP.NET Core backend for elFinder. I think your question should probably be asked at the repo for elFinder itself, which you can find here: [https://github.com/Studio-42/elFinder](https://github.com/Studio-42/elFinder)

[2018-02-24 06:20] #1 closed, assigned to nobody

[2018-02-26 14:00] gordon-matt commented on #1
FYI - I have been doing quite a bit of work on this connector recently and looked into this issue a little further. If you get the latest version, you will find that the links are now to the absolute URLs and not something like `connector.php?cmd=file&target=HASH_TO_FILE_PATH` which it was before.

[2018-03-01 15:27] dtraykov opened #6 "unable to rename folder"
I've this problem when I try to rename a folder
![folderrename](https://user-images.githubusercontent.com/3616622/36852936-bd0c4e20-1d75-11e8-879e-ddefa48ccd9d.png)

[2018-03-01 16:05] gordon-matt commented on #6
Please check again whether it's actually the rename function that is causing you problems, because I just tried it and not getting any errors. Also, the message in your screenshot says it's for the "Close" command. If you find out what's actually causing that message, let me know and I will take another look.

[2018-03-02 08:16] dtraykov commented on #6
When I click on a folder in the directory tree, the rename button is disabled. Then, I click on the same folder in the tree a second time and the button becomes enabled. However, If I now click the rename button, an error occurs. I want to emphasize that this error occurs only when I try to rename a folder by selecting it through the directory tree.

[code]

![folderrename1](https://user-images.gi

[2018-03-14 08:23] bmin2 opened #7 "Files Not Opening"
Hello Sir,

I have changed my root directory to "C:\test\Files" and elfinder manages to show the files that are in the folder, but it can not preview or insert them into tinymce editor. Moreover, only those two default pictures work (Lizardmeer, Canada and Mountains) -  any other picture does not.

By work I mean that I can open the picture from elfinder and also insert it into tinymce.
Can you he

[2018-03-14 09:02] gordon-matt commented on #7
Sorry but that's not supported. Your root directory should be a sub directory of your site. If you create the functionality to change the location to be somewhere else, I'm happy for you to create a pull request and I can maybe merge that new functionality, but unfortunately I don't have the time to look into this and to be honest, I am not so sure it can even be possible, because how will your ur

[2018-03-14 09:02] #7 closed, assigned to nobody

[2018-03-14 09:17] gordon-matt commented on #6
Sorry about the late response.. been busy. Had a quick look at this and yes, I can reproduce it now. However, when inspecting the Network tab in the browser's developer tools, I can see there is nothing being sent from browser to server. This means it's something to do with elFinder itself and not the connector. So I would suggest opening an issue on the [elFinder](https://github.com/Studio-42/elF

[2018-03-14 09:17] #6 closed, assigned to nobody

[2018-04-10 20:56] biapar opened #8 "Move i18n folder under js folder because the language file is not found out of the box"
Move i18n folder under js folder because the language file is not found out of the box

[2018-04-11 08:39] gordon-matt commented on #8
Thanks. This is now done.

[2018-04-11 08:39] #8 closed, assigned to nobody

[2018-04-11 09:51] biapar opened #9 "Cannot delete file if upload by external ftp service and not by Elfinder."
Cannot delete file if upload by external ftp service and not by Elfinder.
If you try to upload a file by ftp or copy it, you are not able to delete it by Elfinder manager.
You are able to delete if you upload file by Elfinder.

[2018-05-07 09:53] gordon-matt commented on #9
I just tried copying a file over to the uploads folder via the file system and I was able to view it and delete it without any issue in elFinder. I have not tried this via FTP as I don't currently have access to an FTP service, but surely that shouldn't make a difference how it's copied. It makes me think there's something else going on with your environment. Did you try to delete other files that

[2018-05-21 10:52] cihangll opened #13 "Invalid backend response.Error occurred on the server side.HTTP error 500."
Hi.
When I create a new file( *.txt), the file stays open and i am getting this error

![image](https://user-images.githubusercontent.com/6229029/40303805-05c06036-5cfd-11e8-82fc-88ac3d570a62.png)

And this file stays open.When i want to open this file i am getting this error.
![image](https://user-images.githubusercontent.com/6229029/40303960-84f641ea-5cfd-11e8-8788-975ef813b806.png)

Other bug i

[2018-05-21 11:51] cihangll commented on #13
When I change the file name i get same error and the file disappears.

[2018-05-21 12:59] gordon-matt commented on #13
Thanks for letting me know. This should be fixed now. I have uploaded a new NuGet package, but it may take a little while before it's published. Please check and confirm everything works for you.

[2018-05-21 14:00] cihangll commented on #13
Thank you for your time.I don't get error for new file and edit this file but still i am getting this error when i change file name, move file to another folder etc.There isn't error in version 1.02

[2018-05-22 01:29] gordon-matt commented on #13
Yes, I could see the issues. There were a lot of changes recently to support other storage providers and it seems something broke in the process. I should have tested more thoroughly before releasing. Anyway, I have just fixed the issues I could see and uploaded a new version to NuGet. Please let me know if it's okay for you now. It seems fine here.

[2018-05-22 06:22] cihangll commented on #13
Thank you for your time. 👍

[2018-05-22 07:07] gordon-matt commented on #13
I assume that means you don't see anymore issues with it, right?

[2018-05-22 07:35] cihangll commented on #13
Yes,thank you again.You can close this issue.

[2018-05-22 07:45] #13 closed, assigned to nobody

[2018-06-10 10:03] ddmactive opened #15 "IsReadOnly allow to delete Folders"
Hello, I need to set permissions based on users roles. When i setup IsReadOnly =true i cant upload files but can delete folders. How can i lock all folders and files?

Thanks in advance.

[2018-06-17 11:38] gordon-matt commented on #9
Closing this issue due to not being able to replicate the issue and no response from the OP.

[2018-06-17 11:38] #9 closed, assigned to nobody

[2018-06-22 00:42] gordon-matt commented on #15
Hi there. Thanks for logging this issue. I've not had much time to look at this yet because of other work, but I did just release a new version on NuGet.. I did address part of the problem and you shouldn't be able to delete files anymore when `IsReadOnly = true`. However, I will leave this issue open for the following reasons:

1. There are more things to consider, like "Rename", "Resize", etc...

[2018-06-22 06:07] gordon-matt commented on #15
Thanks, @fsmirne. New NuGet package has been released. Give it a few minutes or so to be listed and indexed.

[2018-06-22 06:07] #15 closed, assigned to nobody

[2018-06-22 06:46] ddmactive commented on #15
Thank you very much to both of you for your excellent work

[2018-12-13 03:24] ersatzDev opened #21 "Azure connector failure"
Hi,

Thanks for writing the asp.net connector and sample app.

I'm getting errors when trying to use the azure storage connector.

On the front end
Invalid backend response. Error occurred on the serve side. HTTP error 500.

On the back end I get the error below (json of exceptiondata from application insights). I've changed the the account and key in the startup.cs, the url in the index.cshml and

[2018-12-13 07:59] gordon-matt commented on #21
@fsmirne Would you like to take a look? I don't have access to any Azure account to test this. Otherwise, this is open for anyone in the community who would like to help...

[2018-12-13 19:19] fsmirne commented on #21
hey @ersatzDev,
From the error logs you posted, I don't think the message is coming from the AzureConnector code. It seems that the the Windows.Storage library is not able to connect to the storage endpoint. I'm basing this on the fact that the exception is being thrown is of type `System.Net.Http.WinHttpException` and the AzureStorage connector uses Microsoft's library exclusively as the middle m

[2018-12-14 00:04] ersatzDev commented on #21
Hi Flavio,

Thanks for looking at this. I've added your method to the HomeController.cs of this sample app because I already configured the storage account to allow its address.

I'm calling your code from an action method (as below) and getting a result back from Azure with information about the 'test' directory, so connection to Azure doesn't seem to be the problem.
[code]
The call that fails fr

[2018-12-14 00:54] ersatzDev commented on #21
I think the issue may be in the GetConnector() of AzureStorageController.cs.

When the root variable is instantiated, shouldn't the ULRs for root directory and thumbnail directory point to azure storage instead of local paths?

[code]
The actual failure happens when execution gets to line 323 of AzureStorageAPI.cs, the ListFilesAndDirectoriesAsync() method.

` if (!await sampleDir.ExistsAsync()) r

[2018-12-14 01:58] fsmirne commented on #21
Hi @ersatzDev,

If the code I gave you is failing, then the problem is not in elfinder connector. This code is straight from the Microsoft Storage library.

I see that you set your root directory path to "matters". Do you have a file share called matters in Azure Storage? If your share is a blob share, this is not gonna work, only file shares.

Lastly, the only thing you need to set is the root di

[2018-12-14 02:45] ersatzDev commented on #21
Hi Flavio,

The code you posted runs successfully and gets a result back from Azure. However, the "matters" directory is actually a BLOB container and not a file share, so I guess what I'm trying to do won't work.

What's interesting is that your code returned a result event if I pointed it to the blob container.

Are there any plans for a BLOB connector in future?

[2018-12-14 16:07] fsmirne commented on #21
Ahh. That explains a lot. To be honest, I haven't tried to connect to a BLOB share. I don't think it would be too hard to support it since the AzureStorage library does the heavy lifting of it.
I'll see if I can spend some time in the next few weeks and see how much work it would take. Once I figure it out, I will let you know on this issue page...

[2018-12-14 22:50] ersatzDev commented on #21
Thank you, looking forward to it.

[2019-01-08 16:32] fsmirne commented on #21
Hi @ersatzDev,

I just wanted to follow up on this. I did look at adding support for BlobStorage and it doesn't seem like it would be too hard, but it would be a little time consuming.

If you look at the sample code provided [here](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-quickstart-blobs-dotnet?tabs=windows), you can see that it's very similar to the code I wrote for File Sto

[2019-01-31 09:30] MathJohnson opened #22 "License information missing"
Can you please specify under which license is your code released (MIT, BSD, Apache, ...)? Please add this information to README file. Original elFinder is released under BSD license, is yours as well?

[2019-02-01 10:22] gordon-matt commented on #22
Hi there,

As far as I am concerned, you can do whatever you want with it. However, as you stated, the original version is licensed under BSD. I can't answer for certain regarding any legalities, but since this one is derived from the original elFinder.Net code, it is possible that means you may have to retain the copyright notice in any redistribution of your source code. If you are worried about

[2019-02-01 10:38] MathJohnson commented on #22
Okay, thank you for answering.

[2019-03-05 10:14] Stephen749 commented on #22
Any update on this? I am interested as well.

[2019-03-15 02:20] shiyee opened #23 "How to view files using a custom viewer"
Hi Sir,

You make a good file manager, thank you.

I have a question , I want to view files using a custom viewer, for example , use pdf.js to open pdf files.

how can I do that.

thank you.

[2019-03-15 05:20] gordon-matt commented on #23
Thank you for your nice comments, but I think you are confusing this C# connector library with the actual file manager, which is just JavaScript. The elFinder project can be found here:
https://github.com/Studio-42/elFinder

I think you will need to ask them your question instead of me. My project just lets you integrate elFinder with .NET Core projects.

Good luck.

[2019-03-15 05:20] #23 closed, assigned to nobody

[2019-04-22 06:19] haiyoufan opened #24 "Hi sir, When will it be updated again"

[2019-07-17 16:10] KianSabzi opened #25 "a load file-manager in the Viewcomponent"
hi sir.
can you help me for this problem. how I put file-manager in the ViewComponent class and load it in another view(form in this view) as partial.

[2019-07-19 08:06] KianSabzi commented on #25
I've done it. so I close the issue

[2019-07-19 08:06] #25 closed, assigned to nobody

[2019-07-22 12:06] gordon-matt commented on #24
Is there something specific you need implemented?

[2019-08-01 00:17] #24 closed, assigned to nobody

[2019-12-11 23:31] dmitry-web opened #31 "Invalid backend response."
I'm getting 500 error, when resizing image and clicking **save as**, an empty file is created.
Exception occurs here https://github.com/gordon-matt/elFinder.NetCore/blob/master/elFinder.NetCore/Drivers/FileSystem/FileSystemDriver.cs#L316

https://i.imgur.com/occDEWn.png

[2020-01-30 17:40] fsmirne commented on #31
I've added a fix for this issue in my fork and will send a pull request. We were not handling one of the new types of "Put" command which sends encoding as "scheme" (https://github.com/Studio-42/elFinder/wiki/Client-Server-API-2.1#put)

[2020-02-10 00:05] gordon-matt commented on #31
@dmitry-web Note that a new version has been uploaded to NuGet.

[2020-02-10 00:05] #31 closed, assigned to nobody

[2020-04-04 09:30] pavelekNET opened #33 "Get Thumbs - "Timeouts are not supported on this stream""
Hi, when I request /thumb for a thumbnail, it will return:

`System.InvalidOperationException: Timeouts are not supported on this stream.
   at System.IO.Stream.get_ReadTimeout()
   at lambda_method(Closure , Object )
   at Newtonsoft.Json.Serialization.ExpressionValueProvider.GetValue(Object target)`

I checked all paths and they are valid - thumbs are generated to AzureStorage under .tmb folder.

[2020-04-10 01:44] gordon-matt commented on #33
@fsmirne You want to take this one? It's related to the Azure connector

[2020-04-10 17:45] fsmirne commented on #33
I will take a look and see if I can reproduce it

[2020-04-10 18:19] fsmirne commented on #33
@pavelekNET I cannot reproduce this.
Thumbnail directory is defined as

`ThumbnailDirectory = $"{rootDirectory}{DirectorySeparatorChar}.tmb";`

Is your _rootDirectory defined correctly?

Also, I'm not sure why you're defining VolumeId at the constructor. VolumeId is usually auto-generated when you add a new Root:

[As seen here](https://github.com/gordon-matt/elFinder.NetCore/blob/8f9d66654fd4cc5a

[2020-04-12 01:15] fsmirne commented on #33
@pavelekNET I just noticed that you're using Json.net and not the new Json Serializer from asp.net core 3.1. I suspect this may be interfering with the json result from the previous call and not the thumbnail call.

Can you test this with the new json serializer? I have a hunch it will fix your problem.

Let me know what you find out...

[2020-05-06 21:20] frankely opened #34 "Azure Storage Emulator Integration"
What would it take to make this able to be configured for the Azure Storage Emulator or Azurite so when running locally/development a Storage Account is not needed?

[2020-05-11 00:43] trannamtrung1st opened #35 "onlyMimes is not supported (have workaround)"
When I use "onlyMimes" in the client configuration, it says that the "mimeDetect" option in the Connector must be configured (specific value is "internal")
I have read about the "mimeDetect" option but it hasn't been developed yet.
I have some workarounds on this, could I contribute my idea to your project?

Further technical details
.NET Core version: 3.1

[2020-05-11 01:07] trannamtrung1st opened #36 "Crash "ls" function when uploading a non-standard Image file (have workaround)"
I uploaded an image (.png) which was not in standard format and it thrown exception when calculating the Image Size --> the "ls" command request failed.
Related issue (System.Drawing): [https://stackoverflow.com/questions/14099246/system-drawing-parameter-is-not-valid](url)
___
Steps to reproduce:

1. Upload this image in a folder: https://i.ibb.co/nn0tyHp/banner.png
2. Request open that folder --

[2020-05-13 11:57] gordon-matt opened #37 "Consider splitting Azure driver to separate repository"
@fsmirne I've gotten quite a few issues raised that are specific to Azure.. including one open at the moment. I'm wondering if we can make things easier for both of us if you keep the code for the Azure driver in a separate repository. That way, issues for the Azure driver can be directed to you more easily, while I deal with issues relating to the core project. This would probably be better, espe

[2020-05-13 11:59] gordon-matt commented on #35
Of course, I welcome any contributions to the project. Once you've made the changes, please create a pull request, so I can review and test the changes before merging them.

[2020-05-13 12:03] gordon-matt commented on #36
Thank you. I will look into this.

[2020-05-13 12:13] gordon-matt commented on #36
FYI - I just downloaded the image file and it's working perfectly fine for me.. I have tried refreshing it and even closing and opening the page.. but it's still fine. Are you sure that you linked to the correct file?

[2020-05-13 12:14] #21 closed, assigned to nobody

[2020-05-13 12:16] gordon-matt commented on #33
Closing due to inactivity

[2020-05-13 12:16] #33 closed, assigned to nobody

[2020-05-13 12:20] gordon-matt commented on #34
Sounds like a great idea. I don't have access to Azure either. The Azure driver was created by @fsmirne. Due to the number of Azure specific issues being opened, I have requested that he move the Azure driver code to a separate repository.. at which point I suggest opening an issue there. I will leave it open here for the moment though.

[2020-05-13 12:59] fsmirne commented on #37
I like that idea. It would be easier to add features, etc. I also don't get notified when new issues are opened here so that would solve that problem.
Is there a way to transfer your nuget package to me so we don't lose all the versions, upgrades, etc?

[2020-05-13 13:19] fsmirne commented on #34
@frankely I believe neither Azure Storage Emulator nor Azurite support File Shares, which is what we support in the Azure Storage driver. If that's the case, it would not be possible to integrate these products into it. There has been a couple requests to add support for Azure Blobs, but that hasn't been implemented yet so at the moment I'd have to say it's not possible.

[2020-05-13 14:26] trannamtrung1st commented on #36
So sorry, it seems like that site retouched my image.
This is the raw image on google drive (tested):
https://drive.google.com/file/d/1_dImWN-kUKuXA6PM-ReyW6GIbiC6_yzd/view?usp=sharing

[2020-05-15 04:10] frankely commented on #34
@fsmirne thank you for replying with this, in my case because I'm using VS Code remote containers (docker-compose) I just need to add this little guy https://hub.docker.com/r/microsoft/azure-storage-emulator/ :) and I should be able to use it, hey @gordon-matt  that might be an option for you to since you don't havr access to Azure.

[2020-05-15 04:10] frankely commented on #34
An alternative to this will be have a docker container running https://hub.docker.com/r/microsoft/azure-storage-emulator/ and just get a connection string for that. See link for more information.

[2020-05-15 04:10] #34 closed, assigned to nobody

[2020-05-15 04:11] frankely commented on #34
I see @fsmirne, that was my first assumption, thank you for clarifying that!

[2020-05-15 04:13] frankely commented on #37
That'll be cool! I am waiting for this since I want to propose a few changes to that library. Let me know if you need any help with this.

[2020-05-16 00:03] gordon-matt commented on #36
Thank you. I have fixed this. It will be in the next release (soon).

[2020-05-16 01:25] gordon-matt commented on #37
@fsmirne It looks like I can indeed add you as an additional package owner: https://devblogs.microsoft.com/nuget/managing-package-owners/.

So I will do that soon. I think I will need your username on NuGet though. Please provide that.

In the meantime, could you have a look at pull request #38 ? I have implemented that a few minutes ago, but it only works for the file system driver. I wanted to g

[2020-05-16 01:52] trannamtrung1st commented on #36
Thanks for your time. Look forward to the next release.

[2020-05-17 00:50] fsmirne commented on #37
Awesome! I'm not sure if it will be easy to preserve history on github. I'm debating whether I should create a new repository or if there's another way to keep everything when I migrate to the new split repository. I'll investigate. In the meantime, here's my nuget username: fsmirne.

I'll take a look at request #38 and will let you know what's the best way to proceed.
Thanks

[2020-05-19 14:10] fsmirne commented on #37
BTW, I added the features from #38 to AzureConnector, added some fixes I found along the way and sent a pull request with the changes.

[2020-05-20 01:00] gordon-matt commented on #37
@fsmirne Okay I bumped the numbers to 1.3.1, added you as a package owner for the Azure one and have only uploaded the main package. See if you can release the Azure package now yourself.

[2020-05-20 01:06] gordon-matt commented on #36
New version released

[2020-05-20 01:06] #36 closed, assigned to nobody

[2020-05-20 01:07] gordon-matt commented on #35
New version released

[2020-05-20 01:07] #35 closed, assigned to nobody

[2020-05-20 02:08] fsmirne commented on #37
@gordon-matt I just published the new version. It's still validating. Hopefully it will work without any hiccups. If everything works ok, I will create a new repository tomorrow and migrating everything over.

[2020-05-20 02:11] gordon-matt commented on #37
@fsmirne Yes, I see it now. Nice!

[2020-05-20 16:45] fsmirne commented on #37
All done. new repository is at [elFinder.NetCore.AzureStorage](https://github.com/fsmirne/elFinder.NetCore.AzureStorage)

[2020-05-20 17:19] gordon-matt commented on #37
@fsmirne Nice. Thank you.

[2020-05-20 17:19] #37 closed, assigned to nobody

[2020-05-21 03:07] trannamtrung1st opened #41 ""onlyMimes" option should be able to display all files belong to a type"
According to: https://github.com/Studio-42/elFinder/wiki/Client-configuration-options-2.1#onlyMimes
"onlyMimes" should support both "type" and "type/subtype". e.g: image, image/jpeg
I implemented this in https://github.com/gordon-matt/elFinder.NetCore/pull/38, but it seems that it is missed in the lastest release when I tested it (version 1.3.1).
I has created a new one here: https://github.com/go

[2020-05-21 03:31] gordon-matt commented on #41
Yes, I did see your pull request and I will make the change. I am just very busy working on many projects right now. I will try to come back to this soon. Dung lo lang nhe!  ;-)

[2020-05-21 04:02] trannamtrung1st commented on #41
It's not urgent, I can still use the source version for my needs. Thanks for taking your time.  👍 👍

[2020-05-23 05:29] gordon-matt commented on #41
Done. See new version on NuGet

[2020-05-23 05:29] #41 closed, assigned to nobody

[2020-06-23 04:19] aqkhana2002 opened #44 "Lib folder missing"
where is lib folder ? even I have installed a package.

[2020-06-26 00:33] gordon-matt commented on #44
If you are talking about the client side packages, they are specified in libman.json. If you are using Visual Studio, just right-click libman.json and choose, "Restore Client-Side Libraries". More info: https://docs.microsoft.com/en-us/aspnet/core/client-side/libman/libman-vs?view=aspnetcore-3.1#restore-library-files

[2020-06-26 00:33] #44 closed, assigned to nobody

[2020-06-29 14:18] jonatmoy opened #45 "Integrate to Angular Asp.net Core app, The volume root statuses requires volumeid property"
Hello, I am trying to integrate your connector into my angular 9 + .net core 3.1 application. What should we do to configure the connector? I always get "error from backend"from the front and "elfinder debug: [warning] [elfinder] The volume root statuses requires `volumeid` property" from the back

[2020-07-21 11:20] jonatmoy commented on #45
https://stackoverflow.com/questions/62320015/unable-to-integrate-elfinder-in-angular-project/62770531#62770531

[2020-07-21 11:20] #45 closed, assigned to nobody

[2020-07-21 11:21] jonatmoy opened #46 "Integrate the search command"
Hello, I would like to integrate a search bar in elfinder I saw that this had not yet been implemented in your connector. Do you think you will ever do it?

[2020-07-22 16:38] gordon-matt commented on #46
Not likely any time soon, as I have numerous projects going on and I don't particularly need this feature myself. However, it would be something nice to have. If you implement it yourself, feel free to raise a PR and I will review and merge your code.

[2020-07-22 16:40] gordon-matt commented on #45
Glad to see you solved it and I appreciate the link to the solution. Hope it helps others.

[2020-07-23 07:46] jonatmoy commented on #46
ok I will try but I do not understand much about your code I do not promise anything. Anyway, great job, thank you very much!

[2020-07-27 13:46] jonatmoy opened #47 "Upload file with params"
After having spent several hours on it, if you use the "Custom Data" option to define a path dynamically you will not be able to upload because at the time of the upload elfinder makes a post request. To recover your settings anyway use this on GetConnector() (in the example we will recover the "folder" argument):
![image](https://user-images.githubusercontent.com/34139071/88549190-4d24a700-d020-1

[2020-07-27 13:46] #47 closed, assigned to nobody

[2020-09-08 18:14] triplepai opened #48 "Map drive outside web host folder"
Hello, I want to ask when I map drive outside wwwroot for ex. D:\\Test
When I want to preview file or link file it 404 not found.
Anyone can help me please?
*** I changed only **filePath**

[code]

[2020-09-15 05:41] triplepai commented on #48
Just change to ""

[code]

[2020-09-15 05:41] #48 closed, assigned to nobody

[2020-10-28 21:25] maccarilab opened #49 "upload not working"
Hi,
I tried some functions with the solution as download, copy/delete file, open/edit file, create folder: there aren't problems.
Now I'm trying to upload file and the application goes in crash/freeze. I must kill 'Visual Studio'.
In debugger I have upload -> GetConnector -> connector ( case ls ) -> ProcessAsync -> crash/freeze
Probably I missed some parameters. The folder 'Files' has write permis

[2020-10-29 00:23] trannamtrung1st commented on #49
Hi Sergio, can you provide more detail information such as what file you are trying to upload and the stack trace?
You can clone this repository and debug into the ProcessAsync function for more detail information of the crash.

[2020-10-29 10:46] maccarilab commented on #49
Hi, probably I missed some parameters. Unfortunately there is a php documentation but not for dot net core c#.
I'm not sure that "customData: { folder: '../Files' }," is correct.

Some details:
**FileSystemController.cs**
        private Connector GetConnector()
        {
            var driver = new FileSystemDriver();
            string absoluteUrl = UriHelper.BuildAbsolute(Request.Scheme, Reque

[2020-10-29 16:10] maccarilab opened #50 "ElFinder IIS runtime"
I have an application in Visual Studio 2019, I'm using some ElFinder functions ( open file, delete, create folder ... ) in Visual Studio. I deployed the solution in IIS: when I run the application in IIS and I use some functions, folder creation, for example, I have the error "Unable to connect to backend".
Some ideas?
Thanks in advance.
Sergio
![ElFinderRunTime](https://user-images.githubusercont

[2020-10-29 16:42] maccarilab opened #51 "FOLDER/FILE SHARING"
Hi, is it possible to share some file in ElFinder and organize folders for sharing?
Thanks in advance.
Sergio

[2020-10-29 21:04] maccarilab commented on #50
I found the solution: the folder must have IIS permissions as in the image.
Best regards
![PermessiIIS](https://user-images.githubusercontent.com/67383364/97632340-ab539280-1a32-11eb-8db1-c935eb3adaae.png)

[2020-10-29 22:04] maccarilab commented on #49
I cloned again the solution. I installed bootstrap again ( during the cloning some file are not copied ) and now I have a different graphic version. The upload is correct.
We can close the issue.
Best regards.

![UploadOK](https://user-images.githubusercontent.com/67383364/97637399-df32b600-1a3a-11eb-90b5-fa8bec03ff0c.png)

[2020-10-30 00:47] #50 closed, assigned to nobody

[2020-10-30 00:47] #49 closed, assigned to nobody

[2020-10-30 00:48] gordon-matt commented on #51
Can you please explain in more detail what you want?

[2020-10-30 09:58] maccarilab commented on #51
Hi,
I'm using User.Identity.Name for private access. I wonder if there is a possibility to organize a share, admin user of course, as in the image.
![Share](https://user-images.githubusercontent.com/67383364/97691533-c3f99200-1a9e-11eb-9bd9-759d16cafed1.png)

[2020-11-16 07:53] mohdimran043 commented on #46
Any update on search feature ?. I am trying to enable the button but it disappears immediately after load!..

[2020-11-20 22:42] gordon-matt commented on #51
Sorry about the late reply.. I am extremely busy these days...

Anyway, I don't think there is an option for exactly what you want.. But I guess you can probably just change the root folder based on the user. I have not tried this, but you could probably do the following:

Open the `FileSystemController` in `elFinder.NetCore.Web` (or in your own app) and then find this:

[code]

And change it to t

[2020-11-20 22:42] #51 closed, assigned to nobody

[2020-11-21 21:54] maccarilab commented on #51
Thank you, I will try and I will let you know.
Sergio

[2020-12-01 15:40] maccarilab opened #52 "ElFinder.NetCore on Linux"
Hi, I'm going to install a web application dot net core having ElFinder on Linux. My code is like this
                switch (FilesUtente)
                {
                    case ("adminfs"):
                        var rootAdmin = new RootVolume(
                        Startup.MapPath("~/FilesPrivate"),
                        $"{uri.Scheme}://{uri.Authority}/FilesPrivate/",

[2020-12-07 20:39] maccarilab commented on #52
Test Linux OK!
Best regards
Sergio

[2020-12-07 20:39] #52 closed, assigned to nobody

[2020-12-09 23:20] gordon-matt commented on #52
It's good to know it works fine on Linux. Thanks for letting us know.

[2020-12-15 18:38] erictijerina opened #53 "Support for archiving by directory using AzureStorageDriver"
The BaseDriver only supports archiving local folders and files.

Please add an override to the AzureStorageDriver with the following:

[code]
This will allow us to retrieve files from Azure Instead and write to a temp directory. This currently does not exist in the AzureStorageDriver and fails every time you try to archive by directory/folder name.

[2020-12-15 18:39] erictijerina opened #54 "Error renaming or moving a folder that contains files"
Bug in file AzureStorageAPI.cs line 356.

When renaming or moving a directory this method will fail if that directory contains files. Microsoft's directory DeleteAsync() method will not delete a directory that contains files. I'm new to Github my apologies for not submitting a pull request.

Issue:
[code]
Recommended solution:
[code]

[2020-12-18 19:35] fsmirne commented on #54
This can be closed. I handled it in the AzureStorage code.

[2020-12-18 19:35] fsmirne commented on #53
This can be closed. I handled it in the AzureStorage code.

[2020-12-22 01:15] gordon-matt commented on #53
Thanks @fsmirne .
@jizzaki : for Azure driver issues, please open them in the Azure driver repo next time: https://github.com/fsmirne/elFinder.NetCore.AzureStorage.

[2020-12-22 01:15] #53 closed, assigned to nobody

[2020-12-22 01:15] gordon-matt commented on #54
Thanks @fsmirne .
@jizzaki : for Azure driver issues, please open them in the Azure driver repo next time: https://github.com/fsmirne/elFinder.NetCore.AzureStorage.

[2020-12-22 01:15] #54 closed, assigned to nobody

[2021-02-28 02:37] #46 closed, assigned to nobody

[2021-02-28 02:52] gordon-matt commented on #46
Get latest NuGet package (v1.3.4). Many thanks to @mguinness

[2021-03-01 23:25] gthbgthb opened #57 "No show and create thumbnails in Linux"
I tested code both in Linux and Windows. In windows OK, but in Linux not show and create thumbnails

Windows
![image](https://user-images.githubusercontent.com/16557694/109571613-bf58ef00-7b0d-11eb-9671-18910febea1c.png)

http://localhost:5000/el-finder/file-system/connector  result
added: [{tmb: "v1_XEplbGx5ZmlzaF9BNzM5NTRDNDBCNzczREQ0NjUxM0I2MzUwRDhCOEI2Ny5qcGc1", dim: "1024x768",…}]
0: {tmb: "v

[2021-03-02 09:45] gthbgthb commented on #57
Problem fixed
need to install some native dependencies as System.Drawing sits on top of native libraries
sudo apt install libc6-dev
sudo apt install libgdiplus

[2021-03-02 09:45] #57 closed, assigned to nobody

[2021-03-26 09:59] benny-adiwijaya opened #58 "missing lib directory"
when I try to run demo project i got 404 not found on lib directory, where i can find those files?

[2021-03-26 15:23] trannamtrung1st commented on #58
If I remember properly, use the **Libman** to manage client library packages. Open **VisualStudio**, in the **Solution Explorer**, right click on the project and select **Restore Client-Side Libraries** --> the packages listed in file **libman.json** will be downloaded.
Reference: https://docs.microsoft.com/en-us/aspnet/core/client-side/libman/libman-vs?view=aspnetcore-5.0

[2021-03-28 07:56] benny-adiwijaya commented on #58
Thank you

[2021-03-28 07:56] #58 closed, assigned to nobody

[2021-03-28 13:37] benny-adiwijaya opened #59 "Integrate with Blazor"
Is it possible to integrate with blazor webassembly project?

[2021-03-30 14:25] trannamtrung1st commented on #59
I think it is only possible with Blazor server side hosted.

[2021-03-30 14:32] trannamtrung1st opened #60 "Does we follow any connector design specification?"
I want to add some new functions to the connector (mostly with the driver configuration, permissions, etc.). I wonder if we have any reference or documents? For example, https://github.com/Studio-42/elFinder/wiki/Connector-configuration-options-2.1.
It seems that we didn't follow the original one.

[2021-03-31 20:42] gordon-matt commented on #59
Unfortunately I haven't had time to investigate Blazor much, so I don't really know yet..

[2021-03-31 20:45] gordon-matt commented on #60
The link you posted would be the correct and only documentation we have to use.

[2021-03-31 20:45] #60 closed, assigned to nobody

[2021-04-25 22:50] #59 closed, assigned to nobody

[2021-04-25 23:08] benny-adiwijaya opened #64 "Download folder"
Hi,

Is it possible to enable download folder in this project?

[2021-05-17 15:22] hdsali opened #65 "elfinder installation"
Hello,

I download the code and run it without errors.
but it just opens a page in my firefox browser, comparing to the elFinder php version, this ASP.net core looks like has a problem.
could you please help me how to run/install/config it to run looks like the php version of elFinder ?

thank you in advance

I attached an image of it.
![elFinder](https://user-images.githubusercontent.com/8676122/

[2021-05-17 15:41] trannamtrung1st commented on #65
Please refer to issue [#58](https://github.com/gordon-matt/elFinder.NetCore/issues/58)

[2021-05-17 15:54] trannamtrung1st commented on #64
It is possible via the disabled "zipdl" command in the sample project. However it is not implemented yet in the backend. Maybe you want to give it a try then create a pull request to this repo 👍.

[2021-05-18 11:21] hdsali commented on #58
Thank you So much.

[2021-05-18 11:22] hdsali commented on #65
Thank you very much

[2021-05-18 11:22] #65 closed, assigned to nobody

[2021-05-31 10:55] benny-adiwijaya opened #66 "Identity framework for authentication"
Is it possible to integrate Identity Framework from .net core for authentication in this elfinder project?

[2021-05-31 12:44] benny-adiwijaya commented on #66
I already found the solution using customHeaders
https://github.com/Studio-42/elFinder/wiki/Client-configuration-options-2.1#customheaders

[2021-05-31 12:44] #66 closed, assigned to nobody

[2021-06-07 04:39] gordon-matt commented on #64
This would be a nice feature to have.

@trannamtrung1st By the way.. thanks for your support providing answers for many of the issues. I am so very busy, so I appreciate that you have taken time to do that. Cam on ban nhieu lam  ;-)

[2021-09-28 07:52] commect opened #68 "Vulnerability with high severity on nuget.org"
Thanks for the great work!
When will you remove vulnerability with high severity. According to information on the website:
https://www.nuget.org/packages/elFinder.NetCore/

[2021-10-27 09:21] lengockyquang opened #69 "Are there any option to prevent user upload file with given list of extensions ?"
Hi everyone, are there any options to configure elfinder only accept some extension when user upload ?
I'm using elfinder.min.js version 2.1.49

[2021-10-28 14:21] trannamtrung1st commented on #69
Hi, does this setting in elFinder client achieve what you want?
https://github.com/gordon-matt/elFinder.NetCore/blob/633da9a4d7d5c9baefd1730ee51bf7af54889600/elFinder.NetCore.Web/Views/FileManager/Index.cshtml#L45

[2021-10-28 23:53] gordon-matt commented on #69
@trannamtrung1st I think maybe we need to implement some more options in root (RootVolume.cs), like `uploadDeny` and `uploadAllow`. See here: https://github.com/Studio-42/elFinder/wiki/Connector-configuration-options-2.1#uploadAllow

[2021-10-28 23:55] gordon-matt commented on #69
More info: https://github.com/Studio-42/elFinder/issues/3007

[2021-10-28 23:58] lengockyquang commented on #69
onlyMimes config just allow file manager to display files with allowed mime types. In fact, user can still upload inapproriate files through it

[2021-10-31 10:32] trannamtrung1st commented on #69
I just created a pull request to support the 3 options: UploadOrder, UploadAllow, UploadDeny. Take a look when you have time @gordon-matt. :D

[2021-10-31 10:38] trannamtrung1st commented on #68
@gordon-matt
Really want to help, but this is non-trivial work to do. The idea is that we should sanitize the file name every time we combine paths using **Path.Combine**. We must also make changes to the **extract** command handler. This will require many changes and regression testing.
I've been busy recently and still have not had the time to work on it yet.

[2021-11-01 05:51] gordon-matt commented on #69
@trannamtrung1st You are a fast worker, friend. I am glad you have time to help with this project. I will try to find time to review your code ASAP.

[2021-11-01 05:54] gordon-matt commented on #68
@trannamtrung1st No problem. You have done a lot already.. Let someone else take this, if they wish. Otherwise, I will try to see to this at some point in future.

@commect If you wish to do the coding changes, raise a PR and I will be happy to review it.

[2021-11-01 07:06] gordon-matt commented on #64
1.3.6 Released on NuGet

[2021-11-01 07:06] #64 closed, assigned to nobody

[2021-11-01 07:06] gordon-matt commented on #69
1.3.6 Released on NuGet

[2021-11-01 07:06] #69 closed, assigned to nobody

[2022-02-21 12:29] manh4995v2 opened #71 "Reload file explorer cause all roots disappear from navigation but current opening root."
This happends with nuget 1.3.6 and elfinder 2.1.60
I temporarily fix this by add: `customData: {init: 1}` in JS code that create elFinder instance.

[2022-02-21 13:17] trannamtrung1st commented on #71
hi @manh4995v2 , the elFinder.Net.Core backend's latest supported client version is 2.1.59. There's maybe some breaking changes in v2.1.60.

[2022-02-23 01:21] manh4995v2 commented on #71
The same happends with elfinder 2.1.49.
I believe that in `elFinder.NetCore.Drivers.FileSystem.FileSystemDriver.cs`, the below code, that lists root in response, is missing from method `OpenAsync`
`foreach (var item in Roots)`
 `{`
     `response.Files.Add(await BaseModel.CreateAsync(new FileSystemDirectory(item.RootDirectory), item));`
 `}`

[2022-03-07 22:00] gordon-matt commented on #71
Thanks for your pointing out a potential bug. Please fork this project, make the change to add multiple roots to demo the problem.. and comment here with the link to your fork.. I'll try to look at it as soon as I can.

[2022-03-24 10:20] Antonyab opened #72 "Add extra root"
Hello,

Is it possible to add an extra root folder ?

Thank you in advance.

Regards,
Antony